.pitch {
  background-color: green;
  height: 100px;
  width: 100%;
}

.draggable {
  position: absolute;
  left: 15%;
  top: 5%;
  height: 2rem;
  width: 2rem;
  cursor: move;
  background-color: purple;
  border: 4px solid white;
  border-radius: 50%;
}
